*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #CAD2C5;
}

.container {
    text-align: center;
    padding: 4rem 2rem;
}

header {
    background-color: #32474C;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title {
    background-image: linear-gradient(to top, #5EE87E, #C7F9CC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #E9ECF4;
    font-size: 5rem;
}

#menu {
    font-size: 2rem;
    height: 3.4rem;
    width: 16rem;
    border-radius: 4px;
}

.add {
    display: none;
}

.add-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 2rem;
    background-color: #6B917E;
}

.add-menu input {
    text-align: center;
    background-color: #e3ebde;
    color: #000;
    border: #141A1C solid 0.15rem;
    outline: none;
}

#nameFilm {
    margin: 0 0.8rem;
}

.add-menu input,
.add-menu button {
    height: 2.8rem;
    border-radius: 6px;
    width: 25rem;
}

button {
    background-color: #446461;
    color: #e3ebde;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4B6F68;
    color: #e3ebde;
}

img {
    max-width: 250px;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6%;
}

.fontSize {
    color: #000;
    font-size: 2rem;
    margin-bottom: 4px;
}

.images img {
    border-radius: 3px;
    max-height: 26rem;
    max-width: 20rem;
    height: 100%;
    width: 100%;
    margin: 1rem 0;
}

button#addMovieImg {
    background-color: rgb(4, 136, 252);
    color: aliceblue;
    border-radius: 3px;
    border: none;
    width: 12.0rem;
    height: 4rem;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    font-size: 1.6rem;
}

@media (min-width: 768px) and (max-width: 1023.99px) {
    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5%;
    }

    #menu {
        font-size: 2.4rem;
        height: 6rem;
        width: 18rem;
    }

    .add-menu {
        padding: 3rem;
    }

    .add-menu input,
    .add-menu button {
        font-size: 1.8rem;
        height: 4rem;
        width: 24rem;
    }
}

@media (max-width: 767.99px) {
    .page-title {
        font-size: 3rem;
    }

    img {
        max-width: 180px;
    }
    
    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4%;
    }

    .fontSize {
        font-size: 1.6rem;
    }

    button#addMovieImg {
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 1000;
        width: 8.0rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .add-menu {
        padding: 1.4rem;
    }

    .add-menu input,
    .add-menu button {
        height: 2.8rem;
        width: 12rem;
    }

    #menu {
        font-size: 1.5rem;
        height: 3rem;
        width: 10rem;
    }
}

@media (max-width: 359.98px) {
    .page-title {
        font-size: 1.8rem;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .images img {
        max-width: 15rem;
        width: 100%;
    }

button#addMovieImg {
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 1000;
        width: 8.0rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    #menu {
        margin-left: 0.8rem;
        font-size: 1.2rem;
        height: 2.5rem;
        width: 8.5rem;
    }

    .add-menu {
        padding: 1.5rem;
    }

    .add-menu input,
    .add-menu button {
        font-size: 1rem;
        height: 2rem;
        width: 8rem;
    }
}